@charset "utf-8";
*{
    padding: 0;
    margin: 0;

}

@font-face {
    font-family:'fonte2';
    src: url('fontes/PassionOne-Black.ttf') format(thuetype);
}
@font-face {
    font-family: 'fonte3';
    src: url('fontes/Sriracha-Regular.ttf') format(thuetype);
}
:root{
      --fonte1:verdana,Geneva,tahoma, sans-serif;
       --fonte2:'fonte2',;
       --fonte3:'fonte3',;
}





    html,body{
        max-height: 100vh;
background-color: rgb(168, 166, 166);
font-family: var(--fonte1);

    }
    header{
        background-color: black;
        color: white;
        text-align: center;
    }
    header> h1{
        padding: 50px;
        font-variant: small-caps;
        font-family: var(--fonte2);
        font-size: 5vw;
    }
    header> p{
        padding-bottom: 50px;
    }
    section{
        padding-top:10vh;
        padding-bottom:10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: var(--fonte3);

    }

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    
    background-color: rgb(59, 59, 59);
    color: white;
    
}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.434);
    display: inline-block;
    padding: 5px;
}




footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}